.banner {
	background: url(../img/banner2.png) no-repeat center;
	width: 100%;
}
.relatorio {
	width: 100%;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.relatorio img {
	vertical-align: middle;
	text-align: center;
	margin-top: 15%;
	margin-bottom: 10%;
}
.idade {
	background: url(../img/edade_1.png) no-repeat center top #fb535b;
	width: 100%;
}
.idade-walk img {
	margin-top: -10%;
	width: 100%;
}
.texto-idade {
	font-family: Montserrat;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 14pt;
	letter-spacing: 2px;
	color: #fff;
	text-align: center;
}
.idade-middle {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.ciudad-transporte .container{
	width: 100%;
}
.ciudad-transporte .container .row {
	width: 100%;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
.ciudad-transporte-inner {
	padding-left: 0px;
	padding-right: 0px;
}
.condicion {
	background-color: #fb535b;
}
.condicion-inner {
	background-color: #fb535b;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.frelancers {
	background-color: #253556;
}
.frelancers-inner {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.frelancers-border {
	border: 1px solid #fff;
	border-radius: 100px; 
	margin: 50px 0 50px 0;
}
.frelancers p {
	color: #fff;
	text-align: center;
	padding: 15px 0 6px 0;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 4vw;
}
.fazem {
	background-color: #141d2d;
}
.fazem-inner{
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.fazem-txt{
	color: #fff;
	text-align: center;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
}
.fazem-2 {
	margin-bottom: 80px;
}
.donde {
	background-color: #e82337;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.text-trabajan {
	text-align: center;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
	color: #fff;
}
.text-profesionales {
	text-align: center;
	font-family: Montserrat;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 45px;
	margin-bottom: 40px;
	color: #fff;
}
.cantidad {
	background-color: #fb535b;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.text-cantidad {
	text-align: center;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
	color: #fff;}
.bgc {
	background: url(../img/bgc-pink.png) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	/*width: 100.7%;*/
	margin-top: -1px;
}
@media (max-width: 992px) {
	.bgc {
		background-color: #FB535B !important;
		background: none;
	}
}
.proyectos {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.nivel {
	background-color: #253556;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 8.95%;
}
.horas {
	background-color: #141d2d;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.nivel-txt {
	text-align: center;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
	color: #fff;
}
.horas-txt {
	text-align: center;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
	color: #fff;
}

.nota-horas {
	text-align: center;
	font-family: Montserrat;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
}
.mejor{
	background-color: #333333;
}
.mejor-txt{
	text-align: center;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
	color: #fff;
}
.mejor-img {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.idiomas {
	background-color: #141d2d;
}
.idiomas-txt {
	text-align: center;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
	color: #fff;
}
.idiomas-img {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.facilidad {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.tendencias {
	background-color: #e82337;
}
.tendencias-inner {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.tendencias-border {
	border: 1px solid #fff;
	border-radius: 100px; 
	margin: 50px 0 30px 0;
}
.tendencias p {
	color: #fff;
	text-align: center;
	padding: 15px 0 6px 0;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 2vw;
	text-transform: uppercase;
}
@media screen and (max-width: 720px) {
	.tendencias p {
		color: #fff;
		text-align: center;
		padding: 15px 0 6px 0;
		font-family: Gotham XLight;
		font-size: 3.5vw;
	}
}
@media screen and (max-width: 500px) {
	.tendencias p {
		color: #fff;
		text-align: center;
		padding: 15px 0 6px 0;
		font-family: Gotham XLight;
		font-size: 4.5vw;
	}
}
.condicion {
	background-color: #141d2d;
}
.condicion-txt {
	text-align: center;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 5%;
	margin-bottom: 1%;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.condicion-img {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.industrias {
	background-color: #333333;
}
.industrias-txt {
	text-align: center;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 5%;
	margin-bottom: 1%;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.industrias-img {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.contratan {
	background-color: #fb535b;
}
.contratan-txt {
	text-align: center;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 5%;
	margin-bottom: 1%;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.contratan-img {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.categorias {
	background-color: #253556;
}
.categorias-txt {
	text-align: center;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 5%;
	margin-bottom: 1%;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.categorias-img {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.categorias-inner {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.categorias-border {
	border: 1px solid #fff;
	color: #fff;
}
.categorias-border p {
	text-align: center;
	font-family: Montserrat;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
}
.descripcion {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.empleados {
	background-color: #333333;
}
.empleados-inner {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.empleados-border {
	border: 1px solid #fff;
	border-radius: 100px; 
	margin: 50px 0 50px 0;
}
.empleados p {
	color: #fff;
	text-align: center;
	padding: 15px 0 6px 0;
	font-family: Montserrat;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 4vw;
}
.flexibilidad {
	background-color: #e82337;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 3%
}
.tiempo {
	background-color: #253556;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 9.77%;
}
.mas-gustos {
	background-color: #141d2d;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.menos-gustos {
	background-color: #fb535b;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.planes {
	background-color: #253556;
}
.planes-inner {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}